
.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: 17vw;
  height: 22vw;

  max-width: 228px;
  max-height: 295px;

  margin: 0 4px;

  border-radius: 12px;

  color: #fff;
  background-color: #bf1131;
}

.card-title {
  font-family: 'Poiret One', sans-serif;
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.card-picture {
  width: 10vw;
  height: 10vw;

  margin: auto;

  max-width: 168px;
  max-height: 168px;
}

.card-desc {
  font-family: monospace;

  display: flex;
  justify-content: center;

  text-align: center;

  margin: 18px;
  font-size: 1.1rem;
}

.my-card {
  -webkit-transform: translate(20vh);
  transform: translateY(20vh);

  -webkit-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  cursor: pointer; cursor: hand;

  z-index: 10;
}

.my-card:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.other-card {
  background-color: #0c5e7f;
  cursor: pointer; cursor: hand;
  transition: transform 0.3s ease-out;
}

.other-card-hover {
  -webkit-transform: translateY(5vh);
  transform: translateY(5vh);
}
