
.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: 17vw;
  height: 22vw;

  max-width: 228px;
  max-height: 295px;

  margin: 0 4px;

  border-radius: 12px;

  color: #fff;
}

.card-title {
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 1.3rem;
  font-weight: bolder;
}

.card-picture {
  width: 10vw;
  height: 10vw;

  margin: auto;
}

.card-desc {
  display: flex;
  justify-content: center;

  text-align: center;

  margin: 18px;
  font-size: 1rem;
}

.my-card {
  -webkit-transform: translate(20vh);
  transform: translateY(20vh);

  -webkit-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  cursor: pointer; cursor: hand;
}

.my-card:hover {
  -webkit-transform: translateY(0);
  transform: translateY(0);
}

.other-card {
  background-color: #682128;
  cursor: pointer; cursor: hand;
}
