
.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: 17vw;
  height: 22vw;

  max-width: 228px;
  max-height: 295px;

  margin: 0 4px;

  border-radius: 12px;

  color: #fff;
  background-color: #bf1131;
}

.card-title {
  font-family: 'Cinzel Decorative', sans-serif;
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.card-picture {
  width: 10vw;
  height: 10vw;

  margin: auto;

  max-width: 168px;
  max-height: 168px;
}

.card-desc {
  font-family: serif;
  font-weight: bold;

  display: flex;
  justify-content: center;

  text-align: center;

  margin: 18px;
  font-size: 0.9rem;
}

.my-card {
  -webkit-transform: translate(20vh);
  transform: translateY(20vh);

  -webkit-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  cursor: pointer; cursor: hand;

  z-index: 10;

  border: 5px double rgba(0, 0, 0, 0);
}

.my-card:hover {
  -webkit-transform: translateY(1vh);
  transform: translateY(1vh);

  border: 5px double #f5deb3;
}

.other-card {
  background-color: #0c5e7f;
  cursor: auto;

  border: 5px double rgba(0, 0, 0, 0);
}

// Annoying transition overwrite.
.other-card-container {
  transition: transform 0.3s ease-out;

  &.card-hover {
    -webkit-transform: translateY(5vh);
    transform: translateY(5vh);

    .other-card {
      border: 5px double #35a0cc;
    }
  }
}
