.chat {
  position: absolute;

  width: 300px;
  padding: 20px;
  border-radius: 12px;

  z-index: 99;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  cursor: grab; cursor: -webkit-grab;
}

.chat-input {
  display: flex;
  justify-content: center;

  padding-bottom: 20px;
}

.messages {
  max-height: 140px;
  overflow-y: overlay;
}

.message {
  padding-bottom: 2px;

  overflow-wrap: break-word;
}
