.character-select {
  color: #fff;
  font-size: 50px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.characters {
  margin-top: 35px;
}

.character-button {
  display: inline;
  margin: 15px;
  background-color: #6d6bf1;
  border-radius: 10px;
  padding: 10px;

  cursor: pointer; cursor: hand;

  &:hover {
    background-color: #8584f3;
  }
}

.character-button-chosen {
  background-color: #0db37b;
}

.card-preview {
  display: flex;
  flex-direction: row;

  margin-top: 30px;
}

// Chosen
.characters-all-chosen {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.character-chosen {
  display: inline;
  margin: 15px;
  background-color: #327d73;
  border-radius: 10px;
  padding: 10px;

  cursor: pointer; cursor: hand;

  &:hover {
    background-color: #3ca295;
  }
}


.character-ready {
  font-family: 'Poiret One', sans-serif;
  font-size: 42px;
  text-align: center;

  cursor: pointer; cursor: hand;
  color: #000;
  font-weight: 800;
  background-color: #f0f8ff;

  border-radius: 5px;
  width: 160px;
  margin: 5px;
  margin-top: 20px;

  &:hover {
    background-color: #e0e3e6;
  }
}

.ready-up {
  text-align: center;
}

.invisible {
  display: none;
}
