.victory {
  color: #fff;
  font-size: 72px;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.defeat {
  color: #fff;
  font-size: 72px;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.draw {
  color: #fff;
  font-size: 72px;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
