.stack-container {
  height: 100%;
  z-index: -10;
}

.stack {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;

  display: flex;
  justify-content: center;
  width: 100%;
}

.stack-card {
  // margin-left: -50%;
}
