.stack-container {
  z-index: -10;
}

.stack {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -10;

  display: flex;
  justify-content: center;
  width: 100%;

  .stack-card:nth-child(9) {
    display: none;
  }
  .stack-card:nth-child(10) {
    display: none;
  }
  .stack-card:nth-child(11) {
    display: none;
  }
  .stack-card:nth-child(12) {
    display: none;
  }
}

.playerb {
  .card {
    background-color: #432746;
    margin-top: -10px;
  }
}
