.turn-indi {
  font-family: 'Poiret One', sans-serif;

  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);

  color: #fff;
  font-size: 2.2rem;
  font-weight: 800;
}

.pass-button {
  font-size: 42px;

  cursor: pointer; cursor: hand;
  color: #000;
  font-weight: 800;
  background-color: #f0f8ff;

  border-radius: 5px;
  width: 160px;
  margin: 5px;

  &:hover {
    background-color: #e0e3e6;
  }
}

.enemy-turn {
}

.pass-disabled {
  background-color: #696969;
  cursor: not-allowed;
  width: 200px;

  &:hover {
    background-color: #696969;
  }
}
