.turn-indi {
  position: absolute;
  left: 50%;
  top: 70%;
  transform: translateX(-50%);

  color: #fff;
  font-size: 2.2rem;
  font-weight: 800;
}

.pass-button {
  background-color: #153c6f;
  text-decoration: none;
  cursor: pointer; cursor: hand;
  border: none;
  border-radius: 5px;
  width: 9rem;

  &:hover {
    background-color: #2a4f7d;
  }
}

.enemy-turn {
}

.pass-disabled {
  background-color: #04304C;
  cursor: not-allowed;
  width: 13rem;

  &:hover {
    background-color: #04304C;
  }
}
