.waiting {
  color: #fff;
  font-size: 50px;
  font-family: 'Poiret One', sans-serif;
  font-weight: bold;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  user-select: text;

  input {
    font-family: monospace;
    text-align: center;
    width: 400px;

    border-color: antiquewhite;
    border-radius: 5px;
    background-color: wheat;
    height: 26px;
  }
}
