.waiting {
  color: #fff;
  font-size: 36px;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  user-select: text;

  input {
    width: 200px;
  }
}
