@import "card";
@import "chat";
@import "connecting";
@import "hand";
@import "life";
@import "stack";
@import "turn";
@import "waiting";
@import "endgame";
@import "menu";


html {
  height: 100%;
}

body {
  background-color: #3e608c;
  overflow: hidden;

  height: 100%;

  font-family: Arial, sans-serif;
}

.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
