<!DOCTYPE html>
<html lang="en">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=1">
  <meta charset="utf-8">
  <meta name="description" content="Innovative Multiplayer Digital Card Game">
  <title>GALGA</title>
  <link rel="stylesheet" href="https://use.typekit.net/myn3frc.css">
  {{> favicons }}
  {{> socials }}

  <style>
    body {
      font-family: "futura-pt", sans-serif;
      margin: 0;
      overflow-x: hidden;
      width: 100vw;
    }

    iframe {
      max-width: 100vw;
    }

    .know {
      font-size: 60px;
      margin-top: 0;
      margin-bottom: 12px;
    }

    .content {
      align-items: center;
      color: #000050;
      display: flex;
      font-size: 18px;
      margin: 16px;
      max-width: 400px;
    }

    .cta {
      background-color: #f5f25e;
      border: #f5f25e 3px solid;
      border-radius: 20px;
      color: #000050;
      font-weight: 900;
      padding: 7px;
      text-decoration: unset;
    }

    .cta:hover {
      color: #f5f25e;
      background-color: #000050;
      border: #f5f25e 3px solid;
    }

    .cta-header-wrapper {
      margin: 16px 8px 0 0;
    }

    .victory {
      font-size: 32px;
      margin-bottom: 38px;
      margin-top: 42px;
    }

    .final {
      align-items: center;
      background-color: #f5f25e;
      border-top: #000050 solid 40px;
      display: flex;
      flex-direction: column;
      height: 160px;
      justify-content: center;
    }

    .final-cta {
      background-color: #000050;
      border: #000050 12px solid;
      border-radius: 60px;
      color: #fff;
      font-size: 2.5rem;
      font-weight: 900;
      padding: 12px;
      text-decoration: unset;
    }

    .final-cta:hover {
      color: #000050;
      background-color: #f5f25e;
      border: #000050 12px solid;
    }

    .footer-link {
      align-items: center;
      color: #f5f25e;
      display: flex;
      margin: 0 8px;
      min-height: 48px;
    }

    .footer {
      align-items: center;
      background: #000050;
      color: #f5f25e;
      display: flex;
    }

    .hero {
      background-color: #000050;
      color: #fff;
      display: flex;
    }

    .hero-image {
      align-items: center;
      display: flex;
    }

    .hero-image img {
      margin: auto;
      width: 400px;
      max-width: 100vw;
      height: auto;
    }

    .hero-text {
      margin-bottom: 48px;
      margin-left: 40px;
      margin-top: 32px;
      max-width: 600px;
    }

    .content-row {
      align-items: center;
      display: flex;
      margin: 16px 0;
    }

    .screenshot {
      width: 300px;
      margin: 0 50px;
    }

    .spacer {
      flex: 1;
    }

    .sticky-header {
      background-color: #000050;
      display: flex;
      height: 60px;
      opacity: 0.95;
      position: sticky;
      top: 0;
    }

    .sticky-header-bg {
      background-color: #000050;
      height: 60px;
      position: absolute;
      top: 0;
      width: 100%;
    }

    .title {
      color: #f5f25e;
      font-weight: 900;
      margin: 0;
      padding: 9px;
    }

    @media (max-width: 600px) {
      .know {
        font-size: 50px;
      }

      .victory {
        font-size: 24px;
      }

      .content-row {
        flex-direction: column;
      }

      .content-row.content-row-a {
        flex-direction: column-reverse;
        ;
      }

      .footer {
        flex-direction: column;
      }

      .hero {
        flex-direction: column;
      }

      .hero-text {
        order: 1;
      }

      .screenshot {
        margin: auto;
      }
    }
  </style>
</head>

<body>
  <div class="sticky-header-bg"></div>
  <div class="sticky-header">
    <h1 class="title">GALGA</h1>
    <div class="spacer"></div>
    <div class="cta-header-wrapper">
      <a class="cta" href="/play">PLAY FOR FREE</a>
    </div>
  </div>
  <div class="hero">
    <div class="spacer"></div>
    <div class="hero-text">
      <h2 class="know">INNOVATIVE DIGITAL CARD GAME</h2>
      <h3 class="victory">Deep gameplay, handcrafted with love</h3>
      <a class="cta" href="/play">PLAY FOR FREE IN MY BROWSER</a>
    </div>
    <div class="hero-image">
      <img alt="Hero image" src="/img/landing/hero.png" width="400" height="400">
    </div>
    <div class="spacer"></div>
  </div>
  <div class="content-row content-row-a">
    <div class="spacer"></div>
    <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/W_OH2loa1nc"
      title="YouTube video player" frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen></iframe>
    <div class="spacer"></div>
  </div>
  <div class="content-row content-row-a">
    <div class="spacer"></div>
    <div class="content">
      GALGA is a multiplayer digital card game in which your greatest enemy is your own hubris. Are you up to the
      challenge?
    </div>
    <div class="content">
      <img alt="Screenshot of GALGA gameplay" class="screenshot" src="/img/landing/screenshot-gameplay.png" width="300"
        height="164">
    </div>
    <div class="spacer"></div>
  </div>
  <div class="content-row content-row-b">
    <div class="spacer"></div>
    <div class="content">
      <img alt="Screenshot of GALGA character select" class="screenshot" src="/img/landing/screenshot-gameplay-3.png"
        width="300" height="164">
    </div>
    <div class="content">
      Play cards on the wheel to decide your fate. But beware: the more cards on the wheel, the more dangerous they
      become.
    </div>
    <div class="spacer"></div>
  </div>
  <div class="content-row content-row-a">
    <div class="spacer"></div>
    <div class="content">
      GALGA is a handcrafted game made with love. I hope you have as much fun playing it as I have making it!
    </div>
    <div class="content">
      <img alt="A screenshot of GALGA" class="screenshot" src="/img/landing/screenshot-gameplay-2.png" width="300"
        height="164">
    </div>
    <div class="spacer"></div>
  </div>
  <div class="final">
    <div class="spacer"></div>
    <a class="final-cta" href="/play">PLAY FOR FREE</a>
    <div class="spacer"></div>
  </div>
  <div class="footer">
    <a class="footer-link" href="https://github.com/RoganMurley/">Find me on GitHub</a>
    <a class="footer-link" href="https://discord.gg/SVXXej4">Join the Discord</a>
    <a class="footer-link" href="/league">Play in the League</a>
    <div class="spacer"></div>
    <a class="footer-link" href="https://soundoftheaviators.bandcamp.com/">Music by Aviators</a>
    <a class="footer-link" href="https://www.roganmurley.com">A Rogan Murley Game</a>
  </div>
  {{> ga }}
</body>

</html>