.new-round-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #f4f15e;
  font-family: 'Raleway', sans-serif;
  font-weight: 900;
  text-transform: capitalize;

  background-color: #f2454a;
  padding: 6px;
}
