.menu-button {
  margin: 5px;

  color: $yellow;

  font-size: 24px;
  font-family: sans-serif;

  background-color: rgba(0, 0, 0, 0);

  border-color: $yellow;
  border-radius: 5px;
  border-width: 3px;
  width: 220px;

  &:hover {
    color: #000;
    background-color: $yellow;
    cursor: pointer; cursor: hand;
  }

  &:disabled {
    color: #59583a;
    background-color: #7955484d;
    cursor: not-allowed;
  }
}
