.menu-button {
  margin: 5px;

  color: #42210b;

  font-size: 24px;
  font-family: 'Trattatello', serif;

  background-color: rgba(0, 0, 0, 0);

  border-color: #42210b;
  border-radius: 5px;
  border-width: 3px;
  width: 200px;

  &:hover {
    color: #fffabb;
    background-color: #42210b;
    cursor: pointer; cursor: hand;
  }

  &:disabled {
    color: #42210b;
    background-color: #7955484d;
    cursor: not-allowed;
  }
}
