$card-width: 228px;
$card-height: 295px;

.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: $card-width;
  height: $card-height;

  margin: 0 4px;

  border-radius: 12px;

  color: #fff;
  background-color: #a20724;
}

.card-title {
  font-family: 'Cinzel Decorative', sans-serif;
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 26px;
  font-weight: bolder;
}

.card-picture {
  width: 165px;
  height: 165px;

  margin: auto;
}

.card-desc {
  font-family: sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: center;

  text-align: center;

  margin: 18px;
  font-size: 16px;
}

.my-card {
  -webkit-transform: translate(0.8 * $card-height);
  transform: translateY(0.8 * $card-height);

  -webkit-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  cursor: pointer; cursor: hand;

  z-index: 10;

  border: 5px double rgba(0, 0, 0, 0);
}

.my-card:hover {
  -webkit-transform: translateY(10px);
  transform: translateY(10px);

  border: 5px double #f5deb3;
}

.other-card {
  background-color: #0c5e7f;
  cursor: auto;

  border: 5px double rgba(0, 0, 0, 0);
}

// Annoying transition overwrite.
.other-card-container {
  transition: transform 0.3s ease-out;

  &.card-hover {
    -webkit-transform: translateY(0.12 * $card-height);
    transform: translateY(0.12 * $card-height);

    .other-card {
      border: 5px double #35a0cc;
    }
  }
}
