$card-width: 14rem;
$card-height: 18rem;

.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: $card-width;
  height: $card-height;

  min-width: $card-width;
  min-height: $card-height;

  max-width: $card-width;
  max-height: $card-height;

  border-radius: 12px;

  color: #fff;
  background-color: #a20724;
}

.card-title {
  font-family: 'Cinzel Decorative', sans-serif;
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.card-picture {
  $card-picture-size: 9.8rem;

  width: $card-picture-size;
  height: $card-picture-size;

  margin: auto;
}

.card-desc {
  font-family: sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: center;

  text-align: center;

  margin: 18px;
  font-size: 0.9rem;
}

.my-card {
  position: absolute;

  -webkit-transform: translateY(-0.55 * $card-height);
  transform: translateY(-0.55 * $card-height);

  -webkit-transition: transform 0.21s ease-out;
  transition: transform 0.21s ease-out;
  cursor: pointer; cursor: hand;

  z-index: 10;

  border: 2px solid #261616;

  &.card-hover {
    -webkit-transform: translateY(-1.05 * $card-height);
    transform: translateY(-1.05 * $card-height) scale(1.1);
    transition: none;

    border-radius: 12px;
    border-color: #fff;
    box-shadow: 0 0 24px #fff;
  }
}

.other-card {
  position: absolute;

  background-color: #0c5e7f;
  cursor: auto;

  border: 2px solid #261616;
}

.my-card-container {
  &.card-hover {
    z-index: 1;
  }
}

// Annoying transition overwrite.
.other-card-container {
  transition: transform 0.3s ease-out;

  &.card-hover {
    z-index: 1;

    -webkit-transform: translateY(0.12 * $card-height);
    transform: translateY(0.12 * $card-height);

    .other-card {
      border: 5px double #35a0cc;
    }
  }
}
