$card-width: 14rem;
$card-height: 18rem;

.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: $card-width;
  height: $card-height;

  min-width: $card-width;
  min-height: $card-height;

  max-width: $card-width;
  max-height: $card-height;

  border-radius: 12px;

  color: #fff;
  background-color: #f2454a;
}

.card-title {
  font-family: 'Cinzel Decorative', sans-serif;
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 1.8rem;
  font-weight: bolder;
}

.card-picture {
  $card-picture-size: 9.8rem;

  width: $card-picture-size;
  height: $card-picture-size;

  margin: auto;
  background-repeat: no-repeat;
}

.card-desc {
  font-family: sans-serif;
  font-weight: bold;

  display: flex;
  justify-content: center;

  text-align: center;

  margin: 18px;
  font-size: 0.9rem;
}
