.character-select {
  color: #fff;
  font-size: 52px;
  font-family: 'Cinzel Decorative', sans-serif;
  font-weight: bold;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.characters {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
}

.character-button {
  display: inline;
  margin: 15px;
  background: none;
  padding: 10px;
  font-size: 36px;

  width: 32px;
  height: 32px;

  border-radius: 100%;
  border-style: solid;
  border-color: #fff;

  transform: none;
  -webkit-transition: transform 0.11s ease-in;
  transition: transform 0.11s ease-in;

  cursor: pointer; cursor: hand;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotate(6deg);
  }
}

.character-button-chosen {
  background-color: #484869;
}

.card-preview {
  margin: 30px;
}

.card-type {
  text-align: left;
  font-size: 18px;
  font-family: monospace;
  padding-left: 22px;
}

// Chosen
.characters-all-chosen {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 35px;
}

.character-chosen {
  display: inline;
  margin: 15px;
  background-color: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 36px;

  border-style: solid;
  border-color: #fff;

  width: 32px;
  height: 32px;
}

.character-unchosen {
  display: inline;
  margin: 15px;
  background: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 36px;

  border-style: solid;
  border-color: #fff;

  width: 32px;
  height: 32px;
}


.character-ready {
  font-family: 'Cinzel Decorative', sans-serif;
  font-size: 42px;
  text-align: center;

  cursor: pointer; cursor: hand;
  color: #000;
  font-weight: 800;
  background-color: #f0f8ff;

  border-radius: 100%;
  border-style: solid;
  border-color: #fff;

  width: 160px;
  margin: 5px;
  margin-top: 20px;

  &:hover {
    background-color: #e0e3e6;
  }
}

.character-icon {
  position: absolute;
  max-width: 32px;
}

.character-name {
  margin-left: 40px;
}

.ready-up {
  font-size: 23px;
  text-align: center;
}

.invisible {
  display: none;
}
