.chatbox {
  background: #f5f25e;
  border-radius: 5px;
  color: #000050;
  display: flex;
  flex-direction: column;
  font-family: "futura-pt", sans-serif;
  height: 100px;
  min-height: 100px;
  min-width: 240px;
  opacity: 0.95;
  overflow: auto;
  padding: 5px;
  position: absolute;
  resize: both;
  width: 240px;

  &__close {
    cursor: pointer;
    font-size: 21px;
    position: absolute;
    right: 4px;
    top: -8px;

    &:hover {
      font-size: 22px;
    }
  }

  &__empty {
    font-style: italic;
    opacity: 0.5;
  }

  &__input {
    color: #000050;
    background: #fff;
    border-radius: 5px;
    border-color: #000050;
    font-family: "futura-pt", sans-serif;
  }

  &__messages {
    display: flex;
    flex: 1;
    flex-direction: column-reverse;
    margin: 4px;
    overflow-y: scroll;
  }
}
