.character-select {
  h1 {
    position: absolute;
    width: 100vw;
    color: #f4f15e;;
    font-size: 52px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
    text-align: center;
  }
}

.characters {
  position: absolute;
  bottom: 0;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.character-button {
  margin: 10px;
  padding: 10px;
  font-size: 36px;

  width: 32px;
  height: 32px;

  border-radius: 100%;
  border-style: solid;
  border-color: #fff;

  transform: none;
  -webkit-transition: transform 0.11s ease-in;
  transition: transform 0.11s ease-in;

  cursor: pointer; cursor: hand;

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
    transform: rotate(6deg);
  }
}

.character-button-chosen {
  background-color: #484869;
}

.card-preview {
  margin: 30px;

  .card {
    margin: 0 4px;
  }
}

// Chosen
.characters-all-chosen {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin-bottom: 35px;
}

.character-chosen {
  display: inline;
  margin: 15px;
  background-color: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 36px;

  border-style: solid;
  border-color: #fff;

  width: 32px;
  height: 32px;
}

.character-unchosen {
  display: inline;
  margin: 15px;
  background: none;
  border-radius: 100%;
  padding: 10px;
  font-size: 36px;

  border-style: solid;
  border-color: #fff;

  width: 32px;
  height: 32px;
}


.character-ready {
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  text-align: center;

  cursor: pointer; cursor: hand;
  color: #000;
  font-weight: 800;
  background-color: #f0f8ff;

  border-radius: 100%;
  border-style: solid;
  border-color: #fff;

  width: 160px;
  margin: 5px;
  margin-top: 20px;

  &:hover {
    background-color: #e0e3e6;
  }
}

.character-icon {
  position: absolute;
  max-width: 32px;
}

.character-name {
  margin-left: 40px;
}

.ready-up {
  color: #fff;
  font-size: 23px;
  text-align: center;
  height: 30px;
}

.invisible {
  display: none;
}

.hover-character-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.hover-character-name {
  position: absolute;
  height: 64px;
  line-height: 64px;
  width: 320px;
  transform: translateX(-50%);

  color: #f4f15e;
  background-color: #f2454a;
  font-family: 'Raleway', sans-serif;
  font-size: 3rem;
  text-align: center;
}
