.text-focus {
  color: #fff;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Trattatello', sans-serif;
  text-align: center;

  .title {
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .desc {
    font-size: 1.2rem;
  }
}


.clock-life-container {
  position: absolute;
  top: 50%;
  left: 50%;
}


.clock-life {
  color: #f4f15e;;
  font-weight: 900;
  position: absolute;
  text-align: center;
  font-family: 'Trattatello', sans-serif;
}

.clock-damage-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.clock-damage {
  font-style: italic;
  font-weight: 900;
  position: absolute;
  text-align: center;
  font-family: 'Trattatello', sans-serif;
}


.clock-turn {
  position: absolute;
  transform: translate(-50%, -50%);

  font-size: 1.6rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 900;
}


.clock-go {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  outline: none;

  font-size: 1.6rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 900;

  &--disabled {
    color: grey;
    background-color: dimgrey;
    border-color: dimgrey;
    cursor: not-allowed;
  }
}


.turn-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #f4f15e;
  font-size: 1.6rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 900;
}


.pass-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #f4f15e;
  font-size: 3rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 900;
}
