.text-focus {
  // color: #1a7f8a;
  color: #fff;
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'Trattatello', serif;
  text-align: center;

  .title {
    text-transform: uppercase;
    font-size: 2.0rem;
    font-weight: 300;
  }

  .desc {
    // font-family: sans-serif;
    // font-family: "Trattatello", serif;
    // font-family: "Homemade Apple", serif;
    text-transform: uppercase;
    font-size: 1.4rem;
  }

  .opponent {
    // color: #bf310e;
    // color: #42210b;
    color: #000;
  }
}


.clock-life-container {
  position: absolute;
  top: 50%;
  left: 50%;
}


.clock-life {
  font-weight: 900;
  position: absolute;
  text-align: center;
  font-family: 'Trattatello', sans-serif;
}

.clock-damage-container {
  position: absolute;
  top: 50%;
  left: 50%;
}

.clock-damage {
  font-style: italic;
  position: absolute;
  text-align: center;
  font-family: 'Trattatello', sans-serif;
}


.clock-turn {
  position: absolute;
  transform: translate(-50%, -50%);

  font-size: 1.6rem;
  font-family: 'Trattatello', sans-serif;
}


.clock-go {
  color: #42210b;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  border-radius: 50%;
  border-color: #42210b;
  border-width: 3px;
  outline: none;

  font-size: 1.6rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 600;

  background-color: rgba(0, 0, 0, 0);

  &:hover {
    color: #fffabb;
    background-color: #42210b;
    cursor: pointer; cursor: hand;
  }

  &--disabled {
    color: #42210b;
    background-color: #7955484d;
    cursor: not-allowed;

    &:hover {
      color: #42210b;
      background-color: #7955484d;
    }
  }
}


.turn-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #000;
  font-size: 2.4rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 900;
}


.pass-status {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: 3rem;
  font-family: 'Trattatello', sans-serif;
  font-weight: 900;

  color: #fff;
  &.opponent {
    color: #000;
  }
}
