.connecting-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #42210b;;
    font-size: 4.5rem;
    font-family: 'Trattatello', sans-serif;

    margin: 0;
    margin-bottom: 20px;
  }

  input {
    font-family: monospace;

    text-align: center;
    border-radius: 5px;
    height: 26px;
  }
}

.error {
  font-family: 'Trattatello', sans-serif;
  display: block;
  color: #ff3232;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  margin-top: 20px;
}

.vertical-rule {
  border-left: 2px solid #42210b;
  height: 100px;
  margin: 0 30px;
}
