.character-select {
  h1 {
    color: #42210b;
    font-size: 52px;
    font-family: 'Trattatello', sans-serif;
    font-weight: 300;
    text-align: center;
  }
}

.characters {
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.prev-button {
  margin: auto;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #42210b;
  cursor: pointer; cursor: hand;
}

.next-button {
  margin: auto;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #42210b;
  cursor: pointer; cursor: hand;
}

.character-select-bottom {
  position: absolute;
  bottom: 8px;
  left: 50%;

  display: flex;
  flex-direction: column;
  transform: translate(-50%);

  .character-prev-button {
    margin-right: 24px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #42210b;
    cursor: pointer; cursor: hand;
  }

  .character-confirm {
    margin-bottom: 8px;
  }

  .character-next-button {
    margin-left: 24px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #42210b;
    cursor: pointer; cursor: hand;
  }

  .character-last-row {
    display: flex;
    flex-direction: row;
  }

  .character-name {
    color: #42210b;
    display: flex;
    justify-content: center;
    font-family: 'Trattatello', sans-serif;
    font-size: 48px;
    text-transform: uppercase;
  }
}
