.character-select {
  h1 {
    color: #42210b;
    font-size: 52px;
    font-family: 'Trattatello', sans-serif;
    font-weight: 300;
    text-align: center;
  }
}

.characters {
  display: flex;
  justify-content: center;
}

.spacer {
  flex: 1;
}

.prev-button {
  margin: auto;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-right: 30px solid #42210b;
  cursor: pointer; cursor: hand;
}

.next-button {
  margin: auto;
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  border-left: 30px solid #42210b;
  cursor: pointer; cursor: hand;
}

.character {
  display: flex;
  flex-direction: column;
  .name {
    font-family: 'Trattatello', sans-serif;
    font-size: 32px;
    text-transform: uppercase;
  }

  .ready-button {
    margin: 5px auto;
  }
}

.character-circle {
  display: flex;
  flex-direction: column;
  .character-runes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    .character-rune {
      width: 64px;
      height: 64px;
      margin: auto;
      cursor: pointer; cursor: hand;
    }
  }
  color: #42210b;
  text-align: center;
  padding: 24px;
  margin: 6px;
  width: 18rem;
  height: 18rem;

  border-style: solid;
  border-color: #42210b;
  border-width: 2px;
  border-radius: 100%;
}
