@font-face {
  font-family: 'Trattatello';
  src: url('/fonts/Trattatello.woff2') format('woff2'),
      url('/fonts/Trattatello.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'Homemade Apple';
    src: url('/fonts/HomemadeApple.woff2') format('woff2'),
        url('/fonts/HomemadeApple.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
