.hand {
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: center;

  transform: translateX(-14rem);
}

.my-hand {
  bottom: 0;
  z-index: 1;

  .card {
    margin: 0 4px;
  }
}

.other-hand {
  top: 0;

  margin-top: -$card-height * 0.8;
}

.my-card-container {}
