.lab {
  fieldset {
    border: none;
    color: #fff;
    font-family: monospace;

    label {
      display: block;
    }
  }

  .sets {
    display: flex;
  }

  canvas {
    z-index: -1 !important;
  }
}
