.login-box {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  .form-good {
    color: inherit;
    border-color: inherit;
  }

  input {
    font-weight: 600;

    border-radius: 5px;
    width: 190px;
    height: 26px;

    margin-bottom: 8px;
    padding-left: 10px;
  }


  .error {
    font-family: 'Trattatello', sans-serif;
    display: block;
    color: #ff3232;
    font-size: 30px;
    font-weight: 600;
    text-align: center;
    margin-top: 20px;
    height: 40px;
  }

}
