.main-menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #f4f15e;
    font-size: 6rem;
    font-family: 'Trattatello', sans-serif;

    margin: 15px;
  }

  h2 {
    color: #f4f15e;
    font-size: 1.8rem;

    margin: 12px;
    margin-bottom: 24px;
  }

  button {
    font-size: 30px;
    font-family: 'Trattatello', sans-serif;

    background-color: #e8e8e8;

    border-radius: 5px;
    width: 250px;
    margin: 5px;

    &:hover {
      background-color: #e0e3e6;
      cursor: pointer; cursor: hand;
    }

    &:disabled {
      background-color: #f0f8ff;
      cursor: not-allowed;
    }
  }

  .main-menu-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.login-buttons {
  display: flex;
  flex-direction: column;
}

.title-ring {
  display: inline-block;
  border: #f4f15e solid 6px;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  line-height: 60px;
  font-size: 2.5rem;
  text-align: center;
  vertical-align: middle;
  margin-top: -10px;
}
