.main-menu {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: #f5f25e;
    font-size: 8rem;
    font-family: sans-serif;
    font-weight: 900;
    margin: 15px;

    @media (max-width: 600px) {
      font-size: 6rem;
    }
  }

  .main-menu-buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.login-buttons {
  display: flex;
  flex-direction: column;
}
