.player-name {
  position: absolute;
  font-size: 1.8rem;
  color: #42210b;
  font-family: 'Trattatello';
  background: rgba(255, 255, 255, 0.05);
  border-radius: 32px;
  padding: 4px 18px;
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  min-width: 120px;
  height: 38px;
  line-height: 38px;
  text-align: center;
  text-transform: uppercase;

  &.me {
    bottom: 0;
  }

  @media (max-width: 1279px) {
    display: none;
  }
}
