@import "theme";

.presence-box {
    height: 100vh;
    display: flex;
    font-family: 'Futura', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.presence {
    border-radius: 25px;
    padding: 12px;
    background-color: $yellow;

    width: 60vw;

    @media (max-width: 1279px) {
        width: 95vw;
    }
}

.presence-users {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presence-user {
    font-size: 28px;
    text-transform: uppercase;
    padding: 8px;
    width: 100%;
    color: $navy;
    border-radius: 10px;
    font-weight: 900;

    &:nth-child(even) {
        background-color: $yellow;
    }

    &:nth-child(odd) {
        background-color: #e3e04f;
    }

    &:hover {
        background-color: $navy;
        color: $yellow;
        cursor: pointer;
    }
}