@import "theme";

.presence-box {
    height: 100vh;
    display: flex;
    font-family: 'Futura', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.presence {
    border-radius: 25px;
    padding: 12px;
    background-color: $yellow;

    width: 60vw;

    @media (max-width: 1279px) {
        width: 95vw;
    }
}

.presence-users {
    margin: auto;
    width: 80%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.presence-button {
    margin: 16px;

    color: $navy;

    font-size: 28px;
    font-weight: 900;
    font-family: sans-serif;

    background-color: rgba(0, 0, 0, 0);

    border-color: $navy;
    border-radius: 5px;
    border-width: 3px;
    border-style: solid;
    width: 400px;
    text-decoration: none;
    text-align: center;
    text-transform: uppercase;

    padding: 5px;

    &:hover {
        color: #f5f25e;
        background-color: $navy;
        cursor: pointer;
        cursor: hand;
    }
}