@import "theme";

.profile-box {
    height: 100vh;
    display: flex;
    font-family: 'Futura', sans-serif;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;

    .profile {
        background-color: $yellow;
        color: $navy;
        padding: 12px;
        border-radius: 25px;

        width: 60vw;

        @media (max-width: 1279px) {
            width: 95vw;
        }
    }

    .username {
        height: 36px;
        text-transform: uppercase;
    }

    .level {
        height: 28px;
    }

    .button {
        margin: 5px;

        color: $navy;

        font-size: 14px;
        font-weight: 900;
        font-family: sans-serif;

        background-color: rgba(0, 0, 0, 0);

        border-color: $navy;
        border-radius: 5px;
        border-width: 3px;
        border-style: solid;
        width: 100%;
        text-decoration: none;
        text-align: center;

        padding: 5px;

        &:hover {
            color: #f5f25e;
            background-color: $navy;
            cursor: pointer;
            cursor: hand;
        }
    }

    .replay {
        height: 20px;
        width: 100%;
    }

    .replays {
        margin: auto;
        width: 80%;

        tr:nth-child(even) {
            background: $yellow;
        }

        tr:nth-child(odd) {
            background: #e3e04f;
        }
    }

    .view-leaderboard-spacer {
        height: 12px;
    }
}