
.rune-select {
  height: 100vh;
}

.runes {
  position: absolute;
  top: 48%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;

  .rune-name {
    text-transform: uppercase;
    color: #fff;
    font-size: 42px;
    font-family: 'Trattatello', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 12px;
  }
  .rune-desc {
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    font-family: 'Trattatello', sans-serif;
    font-weight: 300;
    text-align: center;
    margin: 0;
  }
}

.rune-select-bottom {
  position: absolute;
  bottom: 8px;
  left: 50%;

  display: flex;
  transform: translate(-50%);

  .rune-prev-button {
    margin-right: 24px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-right: 30px solid #42210b;
    cursor: pointer; cursor: hand;
  }

  .rune-confirm {
    margin-bottom: 8px;
  }

  .rune-next-button {
    margin-left: 24px;
    width: 0;
    height: 0;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 30px solid #42210b;
    cursor: pointer; cursor: hand;
  }
}
