.settings-layer {
  z-index: 10000;
}

.settings-icon {
  position: absolute;
  z-index: 100000000;
  right: 0;

  width: 2rem;
  height: 2rem;

  cursor: pointer; cursor: hand;

  -webkit-transition: -webkit-transform 0.11s ease-in;
  transition: transform 0.11s ease-in;

  &:hover {
    -webkit-transform: rotate(6deg);
    transform: rotate(6deg);
  }
}

.settings-open {
  z-index: 10000;
  position: absolute;

  width: 100%;
  height: 100%;

  background: rgba(0, 0, 0, 0.9);
}

.settings-body {
  width: 600px;
  height: 400px;

  margin-left: -300px;
  margin-top: -225px;

  position: absolute;
  top: 50%;
  left: 50%;

  background: rgba(0, 0, 0, 0.5);
  border: 5px solid #fff;
  border-radius: 6px;
}

.settings-inner {
  color: #fff;
  font-family: 'Raleway', sans-serif;
  font-size: 21px;
  padding: 36px;

  h1 {
    margin: 0;
    margin-bottom: 32px;
  }
}

.settings-button {
  font-family: 'Raleway', sans-serif;
  background: none;
  color: #fff;
  border-radius: 8px;
  border-color: #fff;
  font-size: 28px;
  padding: 0 24px;

  cursor: pointer; cursor: hand;
  margin-top: 20px;
  margin-right: 15px;

  &:hover {
    background: rgba(255, 255, 255, 0.2);
  }
}

.settings-input {
  font-family: monospace;
  text-align: center;
  width: 400px;

  border-color: antiquewhite;
  border-radius: 5px;
  background-color: wheat;
  height: 26px;

  margin-top: 16px;
}

.settings-concede {
  color: #f00;
  border-color: #f00;
  &:hover {
    background: rgba(255, 0, 0, 0.2);
  }
}

.settings-slider {
  display: block;

  width: 350px;

  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.settings-volume {
  font-family: monospace;
  font-size: 1.2rem;
}
