.settings-layer {
  z-index: 10000;
}

.settings-close-background {
  position: absolute;
  width: 100%;
  height: 100%;
}

.settings-icon {
  position: absolute;
  z-index: 100000000;
  right: 0;

  width: 2rem;
  height: 2rem;

  cursor: pointer; cursor: hand;

  -webkit-transition: -webkit-transform 0.11s ease-in;
  transition: transform 0.11s ease-in;

  &:hover {
    -webkit-transform: scale(1.14);
    transform: scale(1.14);
  }
}

.settings-input {
  font-family: monospace;
  font-weight: 600;
  text-align: center;
  width: 100%;

  border-color: #000050;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0);
  height: 26px;

  margin-top: 16px;
}

.settings-concede {
  color: #f00;
  border-color: #f00;
  &:hover {
    background-color: #f00;;
  }
}

.settings-slider {
  display: block;

  width: 350px;

  cursor: move; /* fallback if grab cursor is unsupported */
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
  &:active {
    cursor: grabbing;
    cursor: -moz-grabbing;
    cursor: -webkit-grabbing;
  }
}

.settings-label {
  flex: 1;
  font-family: sans-serif;
  font-weight: 700;
  font-size: 1.2rem;
}

.settings-menu {
    position: absolute;
    background-color: #f5f25e;
    color: #000050;
    padding: 24px;
    border-radius: 5px;

    display: flex;
    align-items: center;
    flex-direction: column;

    top: 0;
    right: 0;

    @media (max-width: 900px) {
      width: calc(100% - 48px);
      top: auto;
      right: auto;
    }
}

.settings-button {
  margin: 5px;

  color: #000050;

  font-size: 14px;
  font-weight: 900;
  font-family: sans-serif;

  background-color: rgba(0, 0, 0, 0);

  border-color: #000050;
  border-radius: 5px;
  border-width: 3px;
  width: 100%;

  &:hover {
    color: #f5f25e;
    background-color: #000050;
    cursor: pointer; cursor: hand;
  }

  &:disabled {
    color: #59583a;
    background-color: #7955484d;
    cursor: not-allowed;
  }

}
