$life-height: 38px;

.status {
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translateX(-50%);
}

.status-mine {
  top: 60%;

  .life-bar {
    .life-health {
      background-color: #a20724;
    }
  }
}

.life-bar {
    background-color: #82807b;;

    display: flex;

    min-width: 600px;
    width: 100%;
    height: $life-height;

    outline: 2px solid;
    outline-color: white;

    margin-bottom: 20px;
}

.life-text {
    font-family: 'Cinzel Decorative', monospace;
    font-size: 32px;
    color: #fff;
    text-align: center;
    font-weight: 800;

    margin-top: -3px;

    width: 100%;
    height: $life-height;

    position: absolute;
    z-index: 1;
}

.life-health {
    background-color: #004561;

    // Width is dynamically calculated.
    height: $life-height;

    transition: width 0.4s ease-in;
}
