.stack {
  position: absolute;
  top: 25%;
  left: 50%;
  width: 100%;

  .card {
    border: 2px solid #261616;
  }
}

.stack-card {
  position: absolute;
  &:hover {
    z-index: 100 !important;
  }
}

.playerb {
  .card {
    background-color: #004561;
    margin-top: -10px;
  }
}

.resolving {
  .stack-head {
    transform: scale(1.1);
    border-radius: 12px;
    border-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 32px rgba(255, 255, 255, .5);
  }
}
