.waiting {
  color: #fff;
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;

  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  user-select: text;

  .waiting-prompt {
    margin-bottom: 20px;
  }

  input {
    font-family: monospace;
    text-align: center;
    width: 400px;

    border-color: antiquewhite;
    border-radius: 5px;
    background-color: wheat;
    height: 26px;
  }

  button {
    font-family: 'Raleway', sans-serif;
    font-size: 24px;

    background-color: #f0f8ff;

    border-radius: 5px;
    width: 80px;
    margin: 5px;

    &:hover {
      background-color: #e0e3e6;
      cursor: pointer; cursor: hand;
    }
  }
}
