@import "card";
@import "chat";
@import "connecting";
@import "hand";
@import "life";
@import "stack";
@import "turn";
@import "waiting";
@import "endgame";
@import "menu";
@import "input-group";
@import "version-warning";
@import "character-select";


html {
  height: 100%;
}

body {
  background-color: #000;
  overflow: hidden;

  height: 100%;

  font-family: Arial, sans-serif;

  margin: 0;
}

.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
