@import "card";
@import "character-select";
@import "connecting";
@import "game";
@import "endgame";
@import "hand";
@import "input-group";
@import "status";
@import "menu";
@import "names";
@import "settings";
@import "stack";
@import "turn";
@import "version-warning";
@import "waiting";
@import "spinner";
@import "lab";
@import "login";

html {
  height: 100%;

  @media
  (-webkit-min-device-pixel-ratio: 2),
  (min-resolution: 192dpi) {
    font-size: 13px !important;
  }

  @media (max-width: 1919px) {
    font-size: 15px;
  }

  @media (max-width: 1279px) {
    font-size: 14px;
  }
}

body {
  background-color: #000;
  overflow: hidden;

  height: 100%;

  font-family: Arial, sans-serif;

  margin: 0;
}

.no-select {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
}
