version: 2
jobs:
  build:
    machine:
      image: circleci/classic:edge
    steps:
      - checkout
      - restore_cache:
          name: Restore Cached NPM Dependencies
          keys:
            - npm-{{ checksum "client/package.json" }}
      - restore_cache:
          name: Restore Cached Elm Dependencies
          keys:
            - elm-0.19-{{ checksum "client/elm.json" }}
      - run:
          name: Setup Client
          command: cd client &&
                   npm install -g gulp@4.0.0 gulp-cli@2.0.1 elm@0.19.0 elm-analyse@0.16.5 &&
                   npm install &&
                   gulp build
                   # Temp disable elm-analyse due to circleci issues with
                   # https://github.com/stil4m/elm-analyse/issues/218
                   # gulp build &&
                   # elm-analyse
      - run:
          name: Setup Docker machine
          command: base=https://github.com/docker/machine/releases/download/v0.16.2 &&
                   curl -L $base/docker-machine-$(uname -s)-$(uname -m) >/tmp/docker-machine &&
                   sudo install /tmp/docker-machine /usr/local/bin/docker-machine
      - run:
          name: Setup Python
          command: sudo apt-get update &&
                   sudo apt-get install python3-pip &&
                   sudo /usr/bin/python3 -m pip install requests==2.18.4
      - run:
          name: Deploy
          command: if [ $CIRCLE_BRANCH == 'master' ]; then ./scripts/decryptSecrets && ./scripts/deploy; fi
      - save_cache:
          name: Cache NPM Dependencies
          key: npm-{{ checksum "client/package.json" }}
          paths:
            - "./client/node-modules"
      - save_cache:
          name: Cache Elm Dependencies
          key: elm-0.19-{{ checksum "client/elm.json" }}
          paths:
            - "~/.elm"
            - "./client/elm-stuff"
