.chat {
  position: absolute;

  width: 300px;
  padding: 20px;
  border-radius: 12px;

  z-index: 99;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.5);

  cursor: grab; cursor: -webkit-grab;
}

.chat-input {
  display: flex;
  justify-content: center;

  padding-bottom: 20px;
}

.messages {
  max-height: 140px;
  overflow-y: overlay;
}

.message {
  padding-bottom: 2px;

  overflow-wrap: break-word;
}

.hand {
  position: absolute;
  width: 100%;

  display: flex;
  justify-content: center;
}

.my-hand {
  bottom: 0;
}

.other-hand {
  top: 0;

  margin-top: -276px;
}

.card {
  display: flex;
  justify-content: center;
  flex-flow: column;

  width: 245px;
  height: 339px;

  margin: 0 4px;

  border-radius: 12px;

  color: #fff;
  background-color: #fd084a;
}

.card-title {
  display: flex;
  justify-content: center;

  margin: 14px;
  font-size: 36px;
  font-weight: bolder;
}

.card-picture {
  width: 200px;
  height: 200px;

  margin: auto;
}

.my-card {
  -webkit-transform: translate(146px);
  transform: translateY(146px);

  -webkit-transition: transform 0.15s ease-out;
  transition: transform 0.15s ease-out;
  cursor: pointer; cursor: hand;
}

.my-card:hover {
  -webkit-transform: translateY(0);
  transform: : translateY(0);
}

.other-card {
  background-image: url("img/cardback.jpg");
  cursor: pointer; cursor: hand;
}

body {
    background-image: url("/img/bg.png");
    overflow: hidden;

    font-family: Arial, sans-serif;
}

.no-select {
    -webkit-user-select: none; /* Chrome/Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+ */

    /* Rules below not implemented in browsers yet */
    -o-user-select: none;
    user-select: none;
}
