.chat {
  width: 300px;
  padding: 20px;
  border-radius: 12px;

  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
}

.chat-input {
  display: flex;
  justify-content: center;

  padding-bottom: 20px;
}

.message {
  padding-bottom: 2px;

  overflow-wrap: break-word;
}

.hand {
  position: fixed;
  bottom: 0;
  width: 100%;

  display: flex;
  justify-content: center;
}

.card {
  display: flex;

  width: 245px;
  height: 339px;

  background-image: url("img/blacklotus.jpg");

  margin-bottom: -126px;
  transition: margin-bottom 0.1s ease-out;
  cursor: pointer; cursor: hand;
}

.card:hover {
    margin-bottom: 0;
}

body {
    background-image: url("/img/bg.png");
    overflow: hidden;
}
